In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('orders.csv')

In [2]:
df.head(2)

,date,vendor_id,chain_id,city_id,spec,successful_orders,fail_orders
0,2019-07-02,40065,7501,23,Суши,54.0,1.0
1,2019-08-27,48058,33226,23,Шаурма,0.0,0.0

##### Сколько в датафрейме колонок с типом float64?

In [3]:
df.dtypes[df.dtypes == 'float64'].shape[0]

2

##### Чему равно произведение кол-ва наблюдений на кол-во колонок в датафрейме?

In [4]:
df.shape[0] * df.shape[1]

672826

##### Сколько уникальных городов в датафрейме?

In [5]:
len(df.city_id.unique())

4

##### Кол-во ресторанов со специализацией "Рыба"?

In [6]:
df[df.spec == 'Рыба'][['vendor_id' ,'spec']].drop_duplicates().shape[0]

18

##### Сколько успешных заказов в среднем получали рестораны в день? (ответ округлить до целого)

In [7]:
np.round(df['successful_orders'].mean())
np.round(df.groupby(['date', 'vendor_id'])['successful_orders'].mean().mean())

9.0

##### Сколько у ресторана 40065 было дней с кол-вом успешных заказов менее 20?

In [37]:
df[(df.vendor_id == 40065) & (df.successful_orders < 20)].shape[0]

45

##### Сколько успешных заказов в среднем получили рестораны за весь период времени? (ответ округлить до целого)

In [22]:
np.round(df.groupby('vendor_id')['successful_orders'].mean().mean())

6.0

Также принимался такой ответ с учетом возможной двусмысленности вопроса:

In [3]:
np.mean(df.groupby('vendor_id')['successful_orders'].sum())

555.1581001951854

##### Город с самым маленьким количеством успешных заказов за весь период.

In [69]:
df.groupby('city_id')['successful_orders'].sum()

city_id
23    277744.0
24    114977.0
25    228518.0
26    232039.0
Name: successful_orders, dtype: float64

##### Какая смециализация имеет самую высокую долю неуспешных заказов за весь период времени(все заказы по конкретному ресторану складываются из успешных, неуспешных заказов)?

In [38]:
df['total_orders'] = df['fail_orders'] + df['successful_orders']
k  = df.groupby('spec').fail_orders.sum()/df.groupby('spec').total_orders.sum()
k.sort_values(ascending = False)[[0]].index[0]

'Вегетарианское меню'

##### Какая из сетей (chain_id) показала максимальный абсолютный рост за август 2019 года по сравнению с июлем 2019 года? Учитывать только те сети, у которых заказы были в июле и в августе?

In [66]:
july_sales = df[(df.date>='2019-07-01') & (df.date<= '2019-07-31')].groupby('chain_id')['successful_orders'].sum().reset_index()
august_sales = df[(df.date>='2019-08-01') & (df.date<= '2019-08-31')].groupby('chain_id')['successful_orders'].sum().reset_index()
merged_table = august_sales.merge(july_sales, how = 'left', on ='chain_id',
                                 suffixes=('_august', '_july'),)
merged_table['increase'] = merged_table['successful_orders_august'] - merged_table['successful_orders_july']
merged_table.sort_values('increase', ascending = False).iloc[0]['chain_id']

29925.0